Reservation Page CSS html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.card {
  border: none;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}

h5 {
  margin: 0 0 10px;
}

.m8tro-card {
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.m8tro-text-primary {
  color: #03e9f4;
}

.m8tro-btn-primary {
  background-color: #03e9f4;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.m8tro-btn-primary:hover {
  background-color: #00d0e1;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
